@import "tachyons/css/tachyons";

.hehe {
    font-size: 15px;
}

.big-button {
    display: block;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
}

input {
    margin: 20px;
    font-size: 20px;
    text-align: center;
    border: 2px solid grey;
}

body {
    display: block;
}
